<div class="desktop-nav d-none d-md-block">
                <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center index-navbar">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                    <ul class="navbar-nav mx-auto w-100 justify-content-center">
                        {{navigation}}
                    </ul>
            </nav>
</div>
