<div class="row pagination">
    <div class="col" style="width: 100%;">
        {{#if prev}}
        <a class="btn btn-secondary" href="{{page_url prev}}">
            <i class="fas fa-arrow-left"></i> Newer Post
        </a>
        {{/if}}
        <span class="page-number">Page {{page}} of {{pages}}</span>
        {{#if next}}
        <a class="btn btn-secondary" href="{{page_url next}}">
             Older Post <i class="fas fa-arrow-right"> </i> 
        </a>
        {{/if}}
    </div>
</div>