{{!< default}} 
{{> "site-nav"}}
    <div class="index-main">
        <div class="row">
            <!-- Main content -->
            <div class="col-sm-12 col-md-9">
                {{!-- The main content area --}}
                <main class="index-post-cards">
                    <div class="index-card">
                        <div class="row">
                            
                                {{#foreach posts}}
                                 <div class="col-lg-12 col-xl-12">
                                 {{> "post-card"}}
                                 </div>
                                  {{/foreach}}
                            
                        </div>
                    </div>
                </main>
            </div>
            <!-- Side bar -->
            <div class="col-sm-12 col-md-3 index-side-nav">
                {{>desktop-nav}}
            </div>
        </div>
    </div>