$main-bg: rgb(24, 25, 29);
$post-bg: rgb(255, 255, 255);
$header-light-bg: white;
$header-dark-bg: rgb(40, 46, 51);
$link-color: cadetblue;
$light-text: white;
$medium-text: rgb(135, 135, 135);
$dark-text: black;
$link-color-hover: rgb(50, 212, 218);





$desktop-header-padding: 2%;
$mobile-header-padding: 15px;


$desktop-body-padding: 4.5%;
$mobile-body-padding: 20px;
$mobile-sm-body-padding: 15px;


$mobile-body-margin: 0px;
$desktop-body-margin: 10%;
$desktop-small-body-margin: 2.5%;


$mobile-cards-header-size: 1.75em;
$mobile-cards-margin: 10px;


html,
body {
    background-color: $main-bg;
}

time {
    color: $medium-text;
}

/************ For weird right space mobile issues *******/

@media (max-width: 991px) {
    .row,
    .col-xs-12,
    .col-lg-12,
    .col-sm-12 {
        padding-right: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

/*************** INDEX ***************/

.index-main {
    background-color: $main-bg;
    padding: 30px;
    padding-left: $desktop-body-margin;
    padding-right: $desktop-body-margin;
}

.index-header {
    text-align: left;
    color: $header-light-bg;
}

.index-post-cards {
    padding-bottom: 25px;
}

@media (max-width: 1400px) {
    .index-main {
        padding-left:$desktop-small-body-margin;
        padding-right: $desktop-small-body-margin;
    }
    .index-post-cards {
        padding: $mobile-body-margin;
    }
}


@media (max-width: 991px) {
    .index-main {
        background-color: $main-bg;
        padding: 10px;
        padding-left: $mobile-body-margin;
        padding-right: $mobile-body-margin;
    }
    .index-post-cards {
        padding: $mobile-body-margin;
    }
}



/*************** POST CARDS ****************/

.post-card {
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: $post-bg;
}

.post-card-content {
    color: $dark-text;
    padding: $desktop-body-padding;
}

.post-card-date {
    color: $medium-text;
    margin-bottom: 5px;
}

.post-card-tags {
    text-decoration: underline;
    text-decoration-color: $link-color;
}

.post-card-tags:hover {
    color: $link-color;
}

.post-card-header a {
    color: $light-text;
}

.post-card-content a {
    color: $dark-text;
}

.post-card a:hover {
    color: $dark-text;
    text-decoration: none;
}

.post-card-header a:hover {
    color: $link-color;
}

.post-card-header {
    background-color: $header-dark-bg;
    color: $header-light-bg;
    padding: $desktop-body-padding;
    padding-top: $desktop-header-padding;
    padding-bottom: $desktop-header-padding;
}

.post-card-header p {
    margin: 0;
}

.post-card-img {
    height: 250px;
    overflow: hidden;
    img {
        overflow: hidden;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .post-card {
        margin-top: $mobile-cards-margin;
        margin-bottom: $mobile-cards-margin;
    }
    .post-card-header {
        padding: $mobile-header-padding;
        padding-left: $mobile-body-padding;
        padding-right: $mobile-body-padding;
    }
    .post-card-content {
        .container-fluid {
            padding: 0;
        }
        padding: $mobile-body-padding;
    }

    .post-card-title{
        font-size: $mobile-cards-header-size;
        
    }
}

@media (max-width: 767px) {
    .post-card-content {
        padding: $mobile-sm-body-padding;
    }
    .post-card-header {
        padding: $mobile-body-padding;
    }
}

/*********** POST **********************/

.posts {
    background-color: $main-bg;
    margin-left: $desktop-body-margin;
    margin-right: $desktop-body-margin;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-content  blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid $link-color;
}

.post-content  blockquote  p {
    margin: 0 0 1em;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}


.post-header a {
    color: $light-text;
    text-decoration: underline;
    text-decoration-color: $link-color;
    font-weight: 400;
}

.post-header a:hover {
    color: $link-color;
}

.post-content a:hover {
    color: $link-color;
}

.post-content a {
    color: $dark-text;
    text-decoration: underline;
    text-decoration-color: $link-color;
    font-weight: 400;
}

.post-content a:hover {
    color: $link-color;
}

.post-body {
    background-color: $post-bg;
}

.post-content {
    padding: $desktop-body-padding;
}

.post-header {
    background-color: $header-dark-bg;
    color: $header-light-bg;
    padding: $desktop-body-padding;
    padding-top: $desktop-header-padding;
    padding-bottom: $desktop-header-padding;
    margin-top: 25px;
}

.post-body .post-content img {
    width: 100%;
}


@media (max-width: 1400px) {
    .posts {
        margin-left:$desktop-small-body-margin;
        margin-right: $desktop-small-body-margin;
    }
}


@media (max-width: 992px) {
    .posts{
        margin: $mobile-body-margin;
    }
    .post-header {
        padding: $mobile-header-padding;
        padding-left: $mobile-body-padding;
        padding-right: $mobile-body-padding;
        margin-top: 0px;
    }
    .post-content {
        padding: $mobile-body-padding;
    }
}

@media (max-width: 767px) {
    .post-content {
        padding: $mobile-sm-body-padding;
    }
    .post-header {
        padding: $mobile-body-padding;
    }
    .post-full-title {
        font-size: $mobile-cards-header-size;
    }

    .post-content{
        h1{
            font-size: 2em;
        }
        h2{
            font-size: 1.75em;
        }
        h3 {
            font-size: 1.5em;
        }

        h4, h5 {
            font-size: 1.25em;
        }
    }
}

/************** PAGE ****************/

.pages-content {
    background-color: $post-bg;
    padding: $desktop-body-padding;
}

.pages-content  blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid $link-color;
}

.pages-content  blockquote  p {
    margin: 0 0 1em;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.pages {
    background-color: $main-bg;
    margin-left: $desktop-body-margin;
    margin-right: $desktop-body-margin;
    padding-top: 30px;
    padding-bottom: 50px;
}

.pages-header {
    background-color: $header-dark-bg;
    color: $header-light-bg;
    padding: $desktop-body-padding;
    padding-top: $desktop-header-padding;
    padding-bottom: $desktop-header-padding;
    margin-top: 25px;
}

.pages-header img {
    width: 100%;
}

.pages-content img {
    width: 100%;
}

.pages-content iframe {
    width: 100%;
}

.pages-header a:hover {
    color: $link-color;
}

.pages-content a:hover {
    color: $link-color;
}

.pages-content a {
    color: $dark-text;
    text-decoration: underline;
    text-decoration-color: $link-color;
    font-weight: 400;
}

@media (max-width: 1400px) {
    .pages {
        margin-left:$desktop-small-body-margin;
        margin-right: $desktop-small-body-margin;
    }
}


@media (max-width: 992px) {
    .pages{
        margin: $mobile-body-margin;
        padding: 0;
    }
    .pages-header {
        padding: $mobile-header-padding;
        padding-left: $mobile-body-padding;
        padding-right: $mobile-body-padding;
        margin-top: 0px;
    }
    .pages-content {
        padding: $mobile-body-padding;
    }
}

@media (max-width: 767px) {
    .pages-content {
        padding: $mobile-sm-body-padding;
    }
    .pages-header {
        padding: $mobile-body-padding;
    }
    .post-full-title {
        font-size: $mobile-cards-header-size;
    }

    .pages-content{
        h1{
            font-size: 2em;
        }
        h2{
            font-size: 1.75em;
        }
        h3 {
            font-size: 1.5em;
        }

        h4, h5 {
            font-size: 1.25em;
        }
    }
}

/*************** TAGS ******************/

.tags {
    background-color: $main-bg;
    margin-left: $desktop-body-margin;
    margin-right: $desktop-body-margin;
    padding-top: 30px;
    padding-bottom: 50px;
}

.tag-header {
    color: $header-light-bg;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}



@media (max-width: 1400px) {
    .tags {
        margin-left:$desktop-small-body-margin;
        margin-right: $desktop-small-body-margin;
    }
}


@media (max-width: 992px) {
    .tags{
        margin: $mobile-body-margin;
        padding: 0;
    }
    .tag-header {
        padding: $mobile-header-padding;
        padding-left: $mobile-body-padding;
        padding-right: $mobile-body-padding;
        margin-top: 0px;
    }

    .tag-content {
        padding-bottom: 2px;
    }
}

@media (max-width: 767px) {

    .tag-title {
        font-size: $mobile-cards-header-size;
    }
}

/********* ERROR 404 *********/

.error-body {
    background-color: $main-bg;
    color: $light-text;
}

.error-img {
    width: 200px;
    height: 200px;
}

.error-code {
    font-weight: bold;
}

.post-content {
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 30px;
    }
}

.post-content {
    h1+p,
    h2+p,
    h3+p,
    h4+p,
    h5+p {
        margin-top: 30px;
    }
}

/***** DESKTOP NAV ******/

.desktop-nav-bar ul li a {
    color: $link-color;
    font-weight: bold;
    font-size: 100;
    padding: 0px;
    text-decoration-style: none;
}

.desktop-nav-bar ul li a:hover {
    cursor: pointer;
}

.nav-link:hover {
    color: $link-color-hover;
}

.desktop-nav-bar ul {
    padding: 0px;
}

.desktop-nav {
    text-align: center;
}

.desktop-nav-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid $light-text;
}

.desktop-nav-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.desktop-nav-description {
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
}

/*** PAGINATION *****/

.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.page-number {
    font-size: 1.25em;
    padding: 5px;
    color: $light-text
}


@media (max-width:400px){
    .page-number{
        font-size: 0.75em;
    }

    .pagination a{
        font-size: 0.75em;
    }
}

@media (max-width: 767px){
    .pagination {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


/***** Mobile Page About *********/

.mobile-about {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mobile-about-logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid $light-text;
    margin-bottom: 10px;
}

.mobile-about-logo:hover {
    cursor: pointer;
}

.mobile-about-description {
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
    color: $light-text;
}

/******* COMMENTS ********/

.comments-link{
    display:none;
}

/************ For wide Screen screens *******/

body {
    max-width: 1600px;
    margin: 0 auto !important;
    float: none !important;
}