html, body {
    background-color: rgb(43, 42, 42);
}


/***** DESKTOP NAV ******/

.desktop-nav .navbar-dark .navbar-nav .nav-link {
   
    color: cadetblue; 
}

.desktop-nav .navbar-dark {
    background-color: rgb(43, 42, 42);
}

/*************** INDEX ***************/
.index-main{
    background-color: rgb(43, 42, 42);
}

.index-logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.index-header{
    text-align: center;
    color: white;
}





.index-post-cards{
    padding-top: 25px;
  
}

.index-card{
    padding-left: 100px;
    padding-right: 100px;
}

@media (max-width: 1100px) {
    .index-card{
        padding-left: 50px;
        padding-right: 50px;

    }
}

@media (max-width: 768px) {
    .index-card{
        padding: 0px;
    }
}


/*************** POST CARDS ****************/

.post-card{
    background-color: rgb(219, 219, 219);
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

.post-card a {
    color: rgb(88, 88, 88);
}

.post-card a:hover{
    color: black;
    text-decoration: none;
}

/*********** POST **********************/

.post-body{
    background-color:  rgb(43, 42, 42);
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.post-body main{
    background-color: rgb(219, 219, 219);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;  

}

.post-body .post-content img {
    width: 100%;
}

@media (max-width: 1100px) {
    .post-body{
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .post-body{
        padding: 0px;
    }
}



@media (max-width: 768px) {
    .post-body .post-content iframe {
        width: 100%;
    
    }
}

/************** PAGE ****************/

.page-content{
   
    background-color: rgb(219, 219, 219);
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page main {
    background-color: rgb(43, 42, 42);
    
}

@media (max-width: 1100px) {
    .page-content{
        margin-left: 50px;
        margin-right: 50px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .page-content{
        margin: 0px;
        height: 100%;
    }
}

/*************** TAGS ******************/

.tag-body {
    background-color: rgb(43, 42, 42); 
    color: white;
}
.tag-content {
    margin-left: 100px;
    margin-right: 100px;
}
@media (max-width: 1100px) {
    .tag-content{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .tag-content{
        margin: 0px;
    }
}

/********* ERROR 404 *********/


.error-body {
    background-color: rgb(43, 42, 42); 
    color: white;
}

.error-row-left {
    width:50%;
    text-align: right
}
.error-row-right {
    width:50%;
    text-align: left
}

.error-img{
    width: 200px;
}

@media (max-width: 567px) {
    .error-row-left, .error-row-right {
        width:100%;
        text-align: center;
    }
    .error-img{
        width: 90%;
    }
}



