html,
body {
  background-color: #18191d; }

time {
  color: #878787; }

/************ For weird right space mobile issues *******/
@media (max-width: 991px) {
  .row,
  .col-xs-12,
  .col-lg-12,
  .col-sm-12 {
    padding-right: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px; } }

/*************** INDEX ***************/
.index-main {
  background-color: #18191d;
  padding: 30px;
  padding-left: 10%;
  padding-right: 10%; }

.index-header {
  text-align: left;
  color: white; }

.index-post-cards {
  padding-bottom: 25px; }

@media (max-width: 1300px) {
  .index-main {
    padding-left: 10%;
    padding-right: 10%; }
  .index-post-cards {
    padding: 0px; } }

@media (max-width: 991px) {
  .index-main {
    background-color: #18191d;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px; }
  .index-post-cards {
    padding: 0px; } }

/*************** POST CARDS ****************/
.post-card {
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: white; }

.post-card-content {
  color: black;
  padding: 4.5%; }

.post-card-date {
  color: #878787;
  margin-bottom: 5px; }

.post-card-tags {
  text-decoration: underline;
  text-decoration-color: cadetblue; }

.post-card-tags:hover {
  color: cadetblue; }

.post-card-header a {
  color: white; }

.post-card-content a {
  color: black; }

.post-card a:hover {
  color: black;
  text-decoration: none; }

.post-card-header a:hover {
  color: cadetblue; }

.post-card-header {
  background-color: #282e33;
  color: white;
  padding: 4.5%;
  padding-top: 2%;
  padding-bottom: 2%; }

.post-card-header p {
  margin: 0; }

.post-card-img {
  height: 250px;
  overflow: hidden; }
  .post-card-img img {
    overflow: hidden;
    width: 100%; }

@media (max-width: 992px) {
  .post-card {
    margin-top: 10px;
    margin-bottom: 10px; }
  .post-card-header {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px; }
  .post-card-content {
    padding: 20px; }
    .post-card-content .container-fluid {
      padding: 0; }
  .post-card-title {
    font-size: 1.75em; } }

@media (max-width: 767px) {
  .post-card-content {
    padding: 15px; }
  .post-card-header {
    padding: 20px; } }

/*********** POST **********************/
.posts {
  background-color: #18191d;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px; }

.post-content blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: 3px solid cadetblue; }

.post-content blockquote p {
  margin: 0 0 1em;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic; }

.post-header a {
  color: white;
  text-decoration: underline;
  text-decoration-color: cadetblue;
  font-weight: 400; }

.post-header a:hover {
  color: cadetblue; }

.post-content a:hover {
  color: cadetblue; }

.post-content a {
  color: black;
  text-decoration: underline;
  text-decoration-color: cadetblue;
  font-weight: 400; }

.post-content a:hover {
  color: cadetblue; }

.post-body {
  background-color: white; }

.post-content {
  padding: 4.5%; }

.post-header {
  background-color: #282e33;
  color: white;
  padding: 4.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 25px; }

.post-body .post-content img {
  width: 100%; }

@media (max-width: 1400px) {
  .posts {
    margin-left: 10%;
    margin-right: 10%; } }

@media (max-width: 992px) {
  .posts {
    margin: 0px; }
  .post-header {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px; }
  .post-content {
    padding: 20px; } }

@media (max-width: 767px) {
  .post-content {
    padding: 15px; }
  .post-header {
    padding: 20px; }
  .post-full-title {
    font-size: 1.75em; }
  .post-content h1 {
    font-size: 2em; }
  .post-content h2 {
    font-size: 1.75em; }
  .post-content h3 {
    font-size: 1.5em; }
  .post-content h4, .post-content h5 {
    font-size: 1.25em; } }

/************** PAGE ****************/
.pages-content {
  background-color: white;
  padding: 4.5%; }

.pages-content blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: 3px solid cadetblue; }

.pages-content blockquote p {
  margin: 0 0 1em;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic; }

.pages {
  background-color: #18191d;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30px;
  padding-bottom: 50px; }

.pages-header {
  background-color: #282e33;
  color: white;
  padding: 4.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 25px; }

.pages-header img {
  width: 100%; }

.pages-content img {
  width: 100%; }

.pages-content iframe {
  width: 100%; }

.pages-header a:hover {
  color: cadetblue; }

.pages-content a:hover {
  color: cadetblue; }

.pages-content a {
  color: black;
  text-decoration: underline;
  text-decoration-color: cadetblue;
  font-weight: 400; }

@media (max-width: 1400px) {
  .pages {
    margin-left: 10%;
    margin-right: 10%; } }

@media (max-width: 992px) {
  .pages {
    margin: 0px;
    padding: 0; }
  .pages-header {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px; }
  .pages-content {
    padding: 20px; } }

@media (max-width: 767px) {
  .pages-content {
    padding: 15px; }
  .pages-header {
    padding: 20px; }
  .post-full-title {
    font-size: 1.75em; }
  .pages-content h1 {
    font-size: 2em; }
  .pages-content h2 {
    font-size: 1.75em; }
  .pages-content h3 {
    font-size: 1.5em; }
  .pages-content h4, .pages-content h5 {
    font-size: 1.25em; } }

/*************** TAGS ******************/
.tags {
  background-color: #18191d;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30px;
  padding-bottom: 50px; }

.tag-header {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

@media (max-width: 1400px) {
  .tags {
    margin-left: 10%;
    margin-right: 10%; } }

@media (max-width: 992px) {
  .tags {
    margin: 0px;
    padding: 0; }
  .tag-header {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px; }
  .tag-content {
    padding-bottom: 2px; } }

@media (max-width: 767px) {
  .tag-title {
    font-size: 1.75em; } }

/********* ERROR 404 *********/
.error-body {
  background-color: #18191d;
  color: white; }

.error-img {
  width: 200px;
  height: 200px; }

.error-code {
  font-weight: bold; }

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
  margin-top: 30px; }

.post-content h1 + p,
.post-content h2 + p,
.post-content h3 + p,
.post-content h4 + p,
.post-content h5 + p {
  margin-top: 30px; }

/***** DESKTOP NAV ******/
.desktop-nav-bar ul li a {
  color: cadetblue;
  font-weight: bold;
  font-size: 100;
  padding: 0px;
  text-decoration-style: none; }

.desktop-nav-bar ul li a:hover {
  cursor: pointer; }

.nav-link:hover {
  color: #32d4da; }

.desktop-nav-bar ul {
  padding: 0px; }

.desktop-nav {
  text-align: center; }

.desktop-nav-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white; }

.desktop-nav-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  text-align: center; }

.desktop-nav-description {
  font-weight: lighter;
  font-size: 15px;
  text-align: center; }

/*** PAGINATION *****/
.pagination {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.page-number {
  font-size: 1.25em;
  padding: 5px;
  color: white; }

@media (max-width: 400px) {
  .page-number {
    font-size: 0.75em; }
  .pagination a {
    font-size: 0.75em; } }

@media (max-width: 767px) {
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px; } }

/***** Mobile Page About *********/
.mobile-about {
  margin-top: 20px;
  margin-bottom: 10px; }

.mobile-about-logo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px; }

.mobile-about-logo:hover {
  cursor: pointer; }

.mobile-about-description {
  font-weight: lighter;
  font-size: 1.25em;
  text-align: center;
  color: white; }

/******* COMMENTS ********/
/************ For wide Screen screens *******/
body {
  max-width: 1600px;
  margin: 0 auto !important;
  float: none !important; }
